@font-face {
  font-family: 'Cherry Bomb One';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(../fonts/y83DW4od1h6KlV3c6JJhRhGOdhr6C9BB.ttf) format('truetype');
}
@font-face {
  font-family: 'Single Day';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(../fonts/LYjHdGDjlEgoAcF95EI5jVo.ttf) format('truetype');
}
